body {
  height: 100vh;
  width: 97vw;
}

.formContainer {
  /* max-width: 400px; */
  margin: 3rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input,
.login-btn {
  height: 32px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  padding: 3px 6px;
}
.login-btn {
  cursor: pointer;
}
.signup-btn {
  margin-top: 1rem;
  background-color: blue;
  height: 32px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  padding: 3px 6px;
  cursor: pointer;
}
.signup-btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .formContainer {
    margin: 2rem 1rem;
    padding: 1.5rem;
  }
}
